@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
  }
  /* admin panel */
  .dark-theme {
    background-color: #1F2937;
    color: #D1D5DB;
  }
  
  .light-theme {
    background-color: #FFFFFF;
    color: #374151;
  }
  
  /* Optional: Add any additional theme-specific styles here */
  
  
:root {
  --primary: #fff;
  --secondary: #F9F6F7;
  --secondary-v2: #e2e2e2;
  --neutral: #1E2A5E;
  --secondary-v3: #ebebeb;

}
.dark-mode {
  --primary: #101a27;
  --secondary: #18202d;
  --secondary-v2: #363f4b;
  --secondary-v3: #1e2630;
  --neutral: #F9F6F7;
}
/* Add this CSS to your stylesheet */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s;
}


